@import "tailwindcss";
@import "@nuxt/ui";
@import "./animation.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 18px;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

.text-primary {
  @apply text-stone-900 dark:text-white;
}

.text-secondary {
  @apply text-white dark:text-black;
}

.bg-primary {
  @apply bg-white dark:bg-stone-900;
}

.bg-secondary {
  @apply bg-green-500 dark:bg-green-400;
}

.border-primary {
  @apply border-stone-900 dark:border-white;
}

.shadow-primary {
  @apply shadow-stone-900/15 dark:shadow-white/15;
}
