@import "tailwindcss";
@import "@nuxt/ui";
@import "./animation.css";

:root {
  --ui-container: 1600px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 18px;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

.text-primary {
  @apply text-stone-900 dark:text-white;
}

.text-secondary {
  @apply text-white dark:text-black;
}

.bg-primary {
  @apply bg-white dark:bg-stone-900;
}

.bg-secondary {
  @apply bg-green-500 dark:bg-green-400;
}

.border-primary {
  @apply border-stone-900 dark:border-white;
}

.shadow-primary {
  @apply shadow-stone-900/15 dark:shadow-white/15;
}

.drop-shadow-primary-xl {
  @apply drop-shadow-xl dark:drop-shadow-[0_9px_7px_rgba(255,255,255,0.25)];
}

.drop-shadow-primary-lg {
  @apply drop-shadow-lg dark:drop-shadow-[0_4px_4px_rgba(255,255,255,0.15)];
}
.drop-shadow-primary-md {
  @apply drop-shadow-md dark:drop-shadow-[0_3px_3px_rgba(255,255,255,0.12)];
}
.drop-shadow-primary-sm {
  @apply drop-shadow-sm dark:drop-shadow-[0_4px_4px_rgba(255,255,255,0.15)];
}
